<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076600882973-jp29qg75iqphpf6tu7s3pocae2ojc5tf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076600882973-jp29qg75iqphpf6tu7s3pocae2ojc5tf</string>
	<key>API_KEY</key>
	<string>AIzaSyAolj8Yj3RjB0H6pWBIzXYASAwBZvW9s0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1076600882973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishnilbhojani.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-49</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076600882973:ios:9a5a14fdd8b648d41b43f4</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-49.firebaseio.com</string>
</dict>
</plist>